<nav class="navbar navbar-expand-md navbar-dark bg-main">
  <!-- navbar will expand for md and larger screens with dark blue background -->
  <div class="container-fluid">
    <a routerLink="/" class="navbar-brand">
      <!-- On clicking logo will route to home page -->
      <img src="./assets/img/logo.png" alt="logo" id="logo"> Amazono
    </a>
    <button class="navbar-toggler" (click)="isCollapsed = !isCollapsed">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>

<router-outlet></router-outlet>
